@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: black;
    color: white;
}
header > h1 {
    padding-top: 50px;
    font-family: 'Passion One', cursive;
    text-align: center;
    font-size: 10em;
    margin-bottom: 10px;
}
header > aside {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-bottom: 30px;
}
main p {
    font-family: 'Sriracha', cursive;
    font-size: 4em;
}
.imagemfundo {
    color: white;
}
article {
    padding: 50px 30px;
}
article.textoeimagem {
    background-color: black;
    width: fit-content;
    height: fit-content;
    margin: 40px;
}
section#imagem1 {
    background-image: url(imagens/background001.jpg);
}
section#imagem2 {
    background-image: url(imagens/background002.jpg);
}
footer {
    background-color: black;
    color: white;
}
footer > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    text-align: center;
}
footer > p > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}