@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
    margin: 0px;
}
header {
    background-color: black;
    color: white;
}
header > h1 {
    padding-top: 50px;
    font-family: 'Passion One', cursive;
    text-align: center;
    font-size: 11em;
    margin-bottom: 10px;
}
header > aside {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-bottom: 30px;
}
main {
    padding: 50px 30px;
}
main p {
    font-family: 'Sriracha', cursive;
    font-size: 5em;
}